@import "./base.css";

#app {
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

.men-clothing {
  background: var(--gradient-men);
}
.women-clothing {
  background: var(--gradient-women);
}
.electronics {
  background: var(--gradient-404);
}
.jewelery {
  background: var(--gradient-404);
}

a,
.green {
  text-decoration: none;
  color: var(--primary-purple);
  transition: 0.4s;
}

.heading__text-gradient {
  font-style: normal;
  font-weight: var(--font-semi-bold);
  text-transform: capitalize;
  line-height: 33px;
  background: var(--gradient-logo);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.button__action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.95em;
  width: 170px;
  height: 45px;
  background-color: var(--primary-purple);
  border-radius: 35px;
}

.button__action h5 {
  font-style: normal;
  font-weight: var(--font-regular);
  font-size: var(--fs-text-md);
  line-height: 24px;
  color: var(--white);
}

@keyframes skeleton-loading {
  0% {
    background-color: #d5e3e560;
  }
  100% {
    background-color: var(--neutral-light-blue);
  }
}

@media screen and (min-width: 600px) {
  .button__action {
    width: 170px;
  }
}
@media screen and (min-width: 1024px) {
  .button__action {
    width: 200px;
  }

  #app {
    padding: 0;
  }
}
@media screen and (min-width: 1250px) {
  .men-clothing-lg {
    background: var(--gradient-men);
  }
  .women-clothing-lg {
    background: var(--gradient-women);
  }
  .electronics-lg {
    background: var(--gradient-404);
  }
  .jewelery-lg {
    background: var(--gradient-404);
  }
}

@media (hover: hover) {
  a:hover {
    background-color: var(--primary-pink);
  }
}
