@import './base.css';

#app {
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

.heading__text-gradient {
  font-style: normal;
  font-weight: var(--font-semi-bold);
  text-transform: capitalize;
  line-height: 33px;
  background: var(--gradient-logo);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

a,
.green {
  text-decoration: none;
  color: var(--primary-purple);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    padding: 0;
  }
}
